<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_seto"
        android:label="@string/app_name"
        android:theme="@style/Theme.SetoHook"

        android:supportsRtl="true">
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <activity
            android:name="com.setoskins.hook.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.setoskins.hook.launcher"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="com.setoskins.hook.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity-alias>
    </application>

</manifest>